* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    z-index: 999;
    top: 0;
    box-shadow: 0px 2px 4px rgba(75, 75, 75, 0.1);
}

.content-settings {
    display: flex;
    gap: 10px;
    align-items: center;
}

.content-settings>div>img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.content-settings>div>p {
    color: #333333;
    font-weight: bold;
    margin: 0;
}

.content-settings>div>span {
    color: #333333;
}

.content-options {
    width: 165px;
    max-height: 160px;
    position: absolute;
    display: none;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 15px;
    top: 60px;
    right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #242e42;
    border-radius: 5px;

}

.content-options.active {
    display: flex;
}

.content-options-box {
    display: flex;
    gap: 10px;
}

.icons-opt {
    width: 20px;
}

.content-options-box>span {
    font-size: 15px;
    cursor: pointer;
    color: #ccc;
}

.content-options-box>span:hover {
    font-size: 15px;
    cursor: pointer;
    color: #fff;
}

.content-options div {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
    padding: 5px 0;
}

.content-options i {
    font-size: 20px;
    color: #007BFF;
}

.btn-options {
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    color: #333333;
}

.btn-options:hover {
    color: #1d2636;
}


.sidebar-menu {
    height: 100vh;
    width: 250px;
    background: #242e42;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    transition: all 0.5s;
    z-index: 999;
}

.sidebar-menu.active {
    left: -250px;
}


.img-logo {
    text-align: center;
    margin-bottom: 20px;
}

.img-logo img {
    width: 150px;
}


.sidebar-menu-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu-ul>li {
    padding: 10px 15px;
    text-align: start;
    border-bottom: 2px solid #1d2636;
    cursor: pointer;
}

.sidebar-menu-ul>li:last-child {
    border-bottom: none;
}

.sidebar-menu-ul>li:hover {
    background-color: #1d2636;
    cursor: pointer;
}

.sidebar-menu>ul>li>a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
    width: 100%;
    padding: 10px 0;
}

.sidebar-menu>ul>li:hover a {
    color: #ccc;
}


.sidebar-menu>ul>li>a i {
    width: 20px;
}


.img-logo {
    padding: 10px;
}

.img-logo>img {
    width: 95%;
}

h1 {
    padding-bottom: 40px;
    padding-left: 10px;
    font-size: 45px;
    color: #242e42;
}

.dashboard-main {
    padding-left: 300px;
    padding-top: 90px;
    transition: all 500ms;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;

}

.section-one {
    height: 400px;
    margin-top: 20px;
}

.section-one h2 {
    margin-bottom: 20px;
}

.dashboard-main.active {
    padding-left: 50px;
}

.home-dashboard {
    padding: 10px;
}


select {
    width: 100%;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.select-container {
    padding-top: 10px;
    display: flex;
}

.icon-chevron {
    position: relative;
    left: -35px;
    top: 8px;
    font-size: 22px;
}

input[type="file"] {
    display: none;
}

.file-upload {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.menu-amb {
    position: absolute;
    z-index: 50;
    right: -50px;
    top: 15px;
    background-color: #1d2636;
    padding: 5px 8px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.button-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #242e42;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button-1:hover {
    background-color: #0056b3;
}

.section-form {
    padding-top: 50px;
}

#arrow-down {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #0056b3;
}

#formulario>h2 {
    margin-left: 10px;
}

.form-container>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form-container>div>div>input {
    margin-right: 10px;
}

.form-container>div>div {
    flex-basis: calc(20% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}

.btn-all {
    width: 180px;
    margin-right: 30px;
    display: inline-block;
    padding: 10px 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.btn-all:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-guardar {
    padding: 10px 50px;
    background-color: #242e42;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    float: right;
    margin-right: 30px;

}

@media only screen and (min-width: 1600px) {
    .dashboard-main {
        padding: 150px 300px;
        padding-right: 100px;
    }

    h1 {
        margin-bottom: 100px;
        font-size: 3.5em;
    }

}

@media only screen and (max-width: 1200) {
    .sidebar-menu {
        left: 250px;
    }
}


@media only screen and (max-width: 900px) {

    .dashboard-main {
        padding-left: 10px;
    }

    .dashboard-main.active {
        padding-left: 10px;
    }

    .navbar {
        padding: 0;
    }

    .content-settings {
        gap: 5px;
    }

    .form-container {
        z-index: -1;
    }

    .menu-amb {
        right: -40px;
    }

    .form-container>div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
        margin: 0 auto;
        place-items: center;
    }

    .btn-all {
        margin-left: 10px;
    }

    .content-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    .btn-guardar {
        float: left;
        margin-top: 20px;
        margin-left: 10px;
    }

    .form-container>div>div {
        width: 200px;
    }

}



/* MENSAJES CSS */

.content-flex {
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: #f7f8f8;
    padding: 20px;
    border-radius: 5px;
}

#mostrar-imagen-doc {
    max-height: 300px;
    max-width: 350px;

}

#mostrar-imagen-doc > img {
    max-height: 300px;
    max-width: 350px;
    padding-top: 10px;

}


#mostrar-texto {
    word-break: break-all;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    max-height: 90px;
    overflow-y: auto;
}

#campana {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    display: block;
}

#campana:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.mensaje {
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding-top: 10px;
}

.container {
    width: 400px;
    background-color: #fff;
    /* Cambié el color de fondo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    color: #333;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

#submit-button {
    left: 20px;
    position: absolute;
    bottom: 20px;
    background-color: #242e42;
    /* Cambié el color de fondo */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #0056b3;
    /* Cambié el color de fondo al pasar el ratón */
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    width: 400px;
    margin-top: 10px;
}

.card {
    width: 190px;
    height: 120px;
    background-color: #f8f9fa;
    /* Cambié el color de fondo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
}

.fa-file,
.fa-image {
    font-size: 25px;
    color: #242e42;
}

.placeholder {
    font-size: 14px;
    color: #888;
}

.container-right {
    width: 400px;
    height: 500px;
    background-color: #fff;
    /* Cambié el color de fondo */
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.018);
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid #28324735;
}


.label-text {
    font-weight: bold;
}

/* CAMPAÑAS CSSS */



.table-container {
    width: 95%;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.data-table th,
.data-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    background-color: #242e42;
    color: white;
}

.data-table tr:hover {
    background-color: #f5f5f5;
}

.data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.url-link {
    color: #3498db;
    text-decoration: none;
}

.url-link:hover {
    text-decoration: underline;
}

.search-container {
    position: relative;
}

.search-input {
    width: 200px;
    padding: 10px 30px 10px 10px; /* Ajusté el padding para dar espacio al icono */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    position: relative;
    margin-top: 10px;
}

.button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos para el botón de eliminar */
.delete-button {
    background-color: #dc3545;
    color: #fff;
}

.delete-button:hover {
    background-color: #bd2130;
}

/* Estilos para el botón de actualizar */
.update-button {
    background-color: #242e42;
    color: #fff;
}

.update-button:hover {
    background-color: #333f58;
}


